.profile {
  max-width: 880px;
  display: grid;
  grid-template-columns: min-content minmax(min-content, max-content) 30px auto;
  grid-template-rows: 65% min-content;
  padding: 40px 0 51px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .profile {
    max-width: 581px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    grid-template-columns: 245px auto;
    grid-template-rows: auto auto auto 1fr;
    max-width: 282px;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 36px;
  }
}