.profile__name {
  max-width: 80%;
  margin: 0 0 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 42px;
  font-weight: 500;
  line-height: 114%;
}

@media screen and (max-width: 960px) {
  .profile__name {
    font-size: 27px;
  }
}

@media screen and (max-width: 650px) {
  .profile__name {
    margin: 0 0 14px 0;
  }
}